[Desktop Entry]
Name=InvoiceBuddy
Exec=invoice-buddy
Icon=icon
Type=Application
Categories=Utility;
Name[en_US]=io.github.pdschneider.invoice-buddy.desktop
