
# Build and distribution folders
dist/
build/

# Nuitka / PyInstaller outputs
*.AppImage
*.deb
*.bin
InvoiceBuddy-Linux
invoicebuddy.bin

# Virtual environments
venv/
env/
ENV/
.venv/
invoice_venv/

# All __pycache__ folders (recursive)
__pycache__/

# Specific project excludes
Notes.txt
bin/
data/
FY25/
FY26/
.vscode/
build.sh
build.ps1
windows.sh
deploy.sh
linux.ps1
.git/
.DirIcon
