altgraph==0.17.5
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.4
CTkToolTip==0.8
customtkinter==5.2.2
darkdetect==0.8.0
et_xmlfile==2.0.0
msoffcrypto-tool==6.0.0
Nuitka==2.8.10
olefile==0.47
openpyxl==3.1.5
ordered-set==4.1.0
packaging==26.0
pdf2image==1.17.0
pdfminer.six==20260107
pdfplumber==0.11.9
pep8==1.7.1
pillow==12.1.0
psutil==7.2.2
pycparser==3.0
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2026.0
pypdf==6.6.2
pypdfium2==5.3.0
pytesseract==0.3.13
Send2Trash==2.1.0
setuptools==80.10.2
watchdog==6.0.0
zstandard==0.25.0
